<% if @quotation.errors.any? %>
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong><%= pluralize(@quotation.errors.count, "error") %> prohibited this user from being saved:</strong>
  <ul>
    <% @quotation.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<% if current_user.enterprise? %>
<div class="form-group">
  <%= f.label :sender_id %>
  <%= f.collection_select :sender_id, @company_profiles, :id, :company_name, { prompt: "-- Choose Company" }, { class: 'form-control ' } %>
</div>
<% end %>

<div class="form-group">
  <%= f.label :client_id %>
  <%= f.collection_select :client_id, @clients, :id, :client_details, { prompt: "-- Choose Client" }, { class: 'form-control ' } %>
</div>

<div class="form-group">
  <%= f.label :valid_until %>
  <%= f.date_field :valid_until, id: :quotation_valid_until, class: "form-control" %>
</div>

<div class="form-group">
  <div id="items">
    <%= f.fields_for :items do |item| %>
      <%= render 'item_fields', f: item %>
    <% end %>
    <hr>
    <div class="links">
      <%= link_to_add_association "Add item", f, :items, class: "btn btn-sm btn-success" %>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <%= f.label :sub_total %>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <%= f.number_field :sub_total, id: :quotation_sub_total, class: "form-control", "readonly" => "readonly" %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <%= f.label :tax_rate %>
      <div class="input-group">
        <%= f.number_field :tax_rate, id: :quotation_tax_rate, class: "form-control", value: 0 %>
        <div class="input-group-prepend">
          <span class="input-group-text">%</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <%= f.label :tax %>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <%= f.number_field :tax, id: :quotation_tax, class: "form-control", "readonly" => "readonly" %>
      </div>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :total %>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">$</span>
    </div>
    <%= f.number_field :total, id: :quotation_total, class: "form-control", "readonly" => "readonly" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :note %>
  <%= f.text_area :note, id: :quotation_note, class: "form-control", rows: 3 %>
</div>

<div class="form-group">
  <%= f.submit "Submit", class: "btn btn-primary" %>
  <%= link_to "Cancel", dashboard_quotations_path, class: "btn btn-default" %>
</div>
