<table class="table table-bordered table-responsive">
  <tbody>
    <tr>
      <th>First Name:</th>
      <td><%= @profile.first_name %></td>
    </tr>
    <tr>
      <th>Last Name:</th>
      <td><%= @profile.last_name %></td>
    </tr>
    <tr>
      <th>Phone Number</th>
      <td><%= @profile.phone_number %></td>
    </tr>
    <tr>
      <th>Address</th>
      <td><%= @profile.address %></td>
    </tr>
    <tr>
      <th>Postcode</th>
      <td><%= @profile.postcode %></td>
    </tr>
    <tr>
      <th>City</th>
      <td><%= @profile.city %></td>
    </tr>
    <tr>
      <th>State</th>
      <td><%= @profile.state %></td>
    </tr>
    <tr>
      <th>Country</th>
      <td><%= @profile.country %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_account_profiles_path, class: "btn btn-primary" %>
